<?xml VERSION="1.0" ENCODING="UTF-8" ?>
<!--DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"-->

<suite name="TestSuite" thread-count="2" verbose="1"  annotations="JDK" parallel="tests">
    <test name="parallelTests">
        <classes>
            <class name="alerts.AlertsTests"/>
            <class name="alerts.ContextMenuTest"/>
            <class name="alerts.FileUploadTest"/>
            <class name="base.BaseTests"/>
            <class name="cookies.CookiesTests"/>
            <class name="dropdown.DropdownTest"/>
            <class name="frames.FrameTests"/>
            <class name="hover.HoversTests"/>
            <class name="javascript.JavaScriptTests"/>
            <class name="keys.KeyPressesTests"/>
            <class name="login.LoginTests"/>
            <class name="navigation.NavigationTests"/>
            <class name="passwords.ForgotPasswordTests"/>
            <class name="slider.HorizontalSliderTests"/>
            <class name="waiting.WaitTest"/> <!--15 штук-->
        </classes>
    </test>



</suite>